@model Tag
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <div class="title">
        <h3>Tags</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Tag Table</h4>
        </div>
        <div class="col-lg-12 col-md-12 ml-auto mr-auto">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Tag tag in ViewBag.tags)
                        {
                            <tr id="up+@tag.ID">
                                <form asp-area="Administrator" asp-controller="Tag" asp-action="Remove" method="post" style="display:inline-block;" onSubmit="return confirm('Are you sure you wish to delete?');">
                                    <input type="text" asp-for="@tag.ID" value="@tag.ID" class="form-control" hidden>
                                    <td>@tag.Name</td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" class="btn btn-success btn-just-icon btn-sm" onclick="document.getElementById('down+@tag.ID').hidden = false; document.getElementById('up+@tag.ID').hidden = true;">
                                            <i class="material-icons"><span class="fa fa-pencil-square-o fa-lg" style="color:white;"></span></i>
                                        </button>
                                        <button rel="tooltip" class="btn btn-danger btn-just-icon btn-sm">
                                            <i class="material-icons"><span class="fa fa-trash fa-lg" style="color:white;"></span></i>
                                        </button>
                                    </td>
                                </form>
                            </tr>
                            <tr id="down+@tag.ID" hidden>
                                <form asp-area="Administrator" asp-controller="Tag" asp-action="Update" method="post">
                                    <input type="text" asp-for="@tag.ID" value="@tag.ID" class="form-control" hidden>
                                    <td><input type="text" asp-for="@tag.Name" value="@tag.Name" class="form-control"></td>
                                    <td class="td-actions text-right">
                                        <button rel="tooltip" class="btn btn-info btn-just-icon btn-sm">
                                            <i class="material-icons"><span class="fa fa-check fa-lg" style="color:white;"></span></i>
                                        </button>
                                        <button type="reset" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" style="background-color:yellow;">
                                            <i class="material-icons"><span class="fa fa-refresh fa-lg" style="color:white;"></span></i>
                                        </button>
                                        <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" onclick="document.getElementById('down+@tag.ID').hidden = true; document.getElementById('up+@tag.ID').hidden = false;">
                                            <i class="material-icons"><span class="fa fa-times fa-lg" style="color:white;"></span></i>
                                        </button>
                                    </td>
                                </form>
                            </tr>
                        }

                        <tr id="add">
                            <form asp-area="Administrator" asp-controller="Tag" asp-action="Insert" method="post">
                                <td><input type="text" asp-for="@Model.Name" class="form-control"></td>
                                <td class="td-actions text-right">
                                    <button rel="tooltip" class="btn btn-info btn-just-icon btn-sm" style="background-color: lightblue;">
                                        <i class="material-icons"><span class="fa fa-plus fa-lg" style="color:white;"></span></i>
                                    </button>
                                </td>
                            </form>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
