@model PostTag
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="title">
        <h3>PostTag</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>PostTag Table</h4>
        </div>
        <div class="col-lg-12 col-md-12 ml-auto mr-auto">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Tag</td>
                            <td>Post</td>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (PostTag postTag in ViewBag.postTags)
                        {
                            <tr id="up+@postTag.ID">
                                <form asp-area="Administrator" asp-controller="PostTag" asp-action="Remove" method="post" style="display:inline-block;" onSubmit="return confirm('Are you sure you wish to delete?');">
                                    <input type="text" asp-for="@postTag.ID" value="@postTag.ID" class="form-control" hidden>
                                    <td>@postTag.Tag.Name</td>
                                    <td>@postTag.Post.Name</td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" class="btn btn-success btn-just-icon btn-sm" onclick="document.getElementById('down+@postTag.ID').hidden = false; document.getElementById('up+@postTag.ID').hidden = true;">
                                            <i class="material-icons"><span class="fa fa-pencil-square-o fa-lg" style="color:white;"></span></i>
                                        </button>
                                        <button rel="tooltip" class="btn btn-danger btn-just-icon btn-sm">
                                            <i class="material-icons"><span class="fa fa-trash fa-lg" style="color:white;"></span></i>
                                        </button>
                                    </td>
                                </form>
                            </tr>
                            <tr id="down+@postTag.ID" hidden>
                                <form asp-area="Administrator" asp-controller="PostTag" asp-action="Update" method="post">
                                    <input type="text" asp-for="@postTag.ID" value="@postTag.ID" class="form-control" hidden>
                                    <td><select type="text" asp-for="@postTag.TagId" asp-items="@ViewBag.tags" value="@postTag.TagId" class="form-control" disabled></select></td>
                                    <td><select type="text" asp-for="@postTag.PostId" asp-items="@ViewBag.posts" value="@postTag.PostId" class="form-control" disabled></select></td>
                                    <td class="td-actions text-right">
                                        <button rel="tooltip" class="btn btn-info btn-just-icon btn-sm">
                                            <i class="material-icons"><span class="fa fa-check fa-lg" style="color:white;"></span></i>
                                        </button>
                                        <button type="reset" rel="tooltip" class="btn btn-info btn-just-icon btn-sm" style="background-color:yellow;">
                                            <i class="material-icons"><span class="fa fa-refresh fa-lg" style="color:white;"></span></i>
                                        </button>
                                        <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" onclick="document.getElementById('down+@postTag.ID').hidden = true; document.getElementById('up+@postTag.ID').hidden = false;">
                                            <i class="material-icons"><span class="fa fa-times fa-lg" style="color:white;"></span></i>
                                        </button>
                                    </td>
                                </form>
                            </tr>
                        }

                        <tr id="add">
                            <form asp-area="Administrator" asp-controller="PostTag" asp-action="Insert" method="post">
                                <td><select type="text" asp-for="@Model.TagId" asp-items="@ViewBag.tags" class="form-control"></select></td>
                                <td><select type="text" asp-for="@Model.PostId" asp-items="@ViewBag.posts" class="form-control"></select></td>
                                <td class="td-actions text-right">
                                    <button rel="tooltip" class="btn btn-info btn-just-icon btn-sm" style="background-color: lightblue;">
                                        <i class="material-icons"><span class="fa fa-plus fa-lg" style="color:white;"></span></i>
                                    </button>
                                </td>
                            </form>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>